 h1 {
 	font-family: arial, verdana, sans-serif;
 	font-size: 100px;
 	font-weight: ;
 	font-variant: small-caps;
 	font-style: italic;
 }

 p {
 	font-family: georgia, serif;
 	line-height: 30px;
 }


 h3 {
 	font: italic,normal,bold,16px/18px helvetica,arial,sans-serif;
 }